# PostgreSQL
PG_HOST=localhost
PG_PORT=5432
PG_USER=interviewer_ai_dev_user
PG_PASSWORD=interviewer_ai_dev_pass
PG_DB=interviewer_ai_dev_db
DATABASE_URL="postgresql://interviewer_ai_dev_user:interviewer_ai_dev_pass@localhost:5432/interviewer_ai_dev_db"

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USER=default
REDIS_PASSWORD=password
